@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    font-size: 18px;
    font-family: "Noto Sans Mono", sans-serif;
    font-weight: 300;
}

.bg-color-default {
    background: #e9e9e9;
    min-height: 380px;
}

.h1-title {
    font-size: 3rem;
    font-weight: 700;
}

.p-subtitle {
    font-size: 1rem;
    font-weight: 400;
}

.bg-color-blue {
    color: #fff;
    background: #343a40;
}

.btn-default {
    font-size: 16px;
    height: 50px;
}

.footer {
    min-height: 50px;
}

.container {
    max-width: 1400px;
}